@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@font-face {
  font-family: "Bodoni";
  src: local("Bodoni"), url("./fonts/OPTIBodoniCampanileFive.otf");
}

body {
  background-color: #7cadb4;
  transition: background-color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

[data-scroll-container] {
  perspective: 1px;
}
